<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>

<div class="auth-container">

    <h2>Create Account</h2>

    

    <form th:action="@{/auth/register}"
          th:object="${registerForm}"
          method="post">

        <input type="text"
               th:field="*{username}"
               placeholder="Username"
               required />
        <div class="error" th:errors="*{username}"></div>

        <input type="email"
               th:field="*{email}"
               placeholder="Email"
               required />
        <div class="error" th:errors="*{email}"></div>

        <input type="password"
               th:field="*{password}"
               placeholder="Password"
               required />
        <div class="error" th:errors="*{password}"></div>

        <select th:field="*{role}">
            <option value="CLIENT">Client</option>
            <option value="ARTISAN">Artisan</option>
        </select>

        <button type="submit">Register</button>

    </form>

    <p>
        Already have an account?
        <a th:href="@{/auth/login}">Login</a>
    </p>

</div>

</body>
</html>